.PostListItem {
    width: 60%;
    height: 180px;
    padding: 20px;
    margin: 20px auto;
    background: var(--card-bg);
    border: 2px solid var(--secondary-color);
}

.button {
    margin-top: 10px;
}
